/*-------------------------------------------------------
* Filename:         style.css
* Description:      Global Css
* Version:          1.0.1 (20.11.2010)
* Author:           -
* E-mail:           -

== STTUCTURE: ===========================================
* Page width:          1000px
* Number of columns:   3
* Layout:              fixed

--------------------------------------------------------*/


/******************************************/
/*                                        */
/*               PAGE RESET               */
/*                                        */
/******************************************/

html, body, form {margin:0; padding:0}
h1, h2, h3, h4, h5, h6, p, ul {margin:0; padding:0; font-weight:normal}
/*ul, ul li {list-style: none}*/
a, img {outline: 0}
img {border: 0}
fieldset {border:0}

ul {padding: 0 0 0.5em 2em;}
ul li {}
ul.menu {padding: 0 0 0em 1em;}

/*------------ clear, separation ---------*/
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
.clearfix {display: block;}

.view-content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.view-content {display: inline-block;}
.view-content {display: block;}

.views-slideshow-pager-fields:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.views-slideshow-pager-fields {display: inline-block;}
.views-slideshow-pager-fields {display: block;}



/************* end: PAGE RESET ************/


/******************************************/
/*                                        */
/*               PAGE LAYOUT              */
/*                                        */
/******************************************/

body {}

#page {position: relative; padding: 0 0px; }

#header { text-align: center; position: relative; height: 160px; padding: 0 0px}
#header-inner {position: relative; padding: 0 0px}
#top {padding: 0px 0 0;}
#main {position: relative;}
#bottom {position:relative; padding: 25px 0 25px; }

#header-inner,
#main-inner,
#bottom,
#footer-inner {text-align: center; width: 720px; margin-left: auto; margin-right: auto;  background-color: rgb(215, 237, 224); }

#top .block .content {width: 1214px; margin-left: auto; margin-right: auto;}
/*#top .block .content {width: 960px; margin-left: auto; margin-right: auto;}


/*.front #main {padding: 30px 0 0;}

/*
.front #main {display: none;}
.front {}
.not-front #page {width: 1000px;}
/**/

/*------------- down footer --------------*/
html, body {height: 100%;}

#page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -75px; 
	
}

.tmpfooter {height: 75px;}
#footer {height: 75px;}

/*--------------- container --------------*/

/* content */
#content {float: left; width: 100%; margin-left: 0; margin-right: -100%;  padding: 0;}

#content-inner,
.no-sidebars #content-inner  {margin: 0; padding: 0px 0px 0px;}
.sidebar-first #content-inner {margin: 0 0 0 240px; padding: 0 0 0 80px;}
.sidebar-second #content-inner {margin: 0 240px 0 0; padding: 0 80px 0 0;}
.two-sidebars #content-inner {margin: 0 240px; padding: 0 80px 0;}

#sidebar_first {float: left; width: 240px;}
#sidebar_first-inner {margin: 0; padding: 0;}
#sidebar_second {float: right; width: 240px;}
#sidebar_second-inner {margin: 0; padding: 0px;}

#content_top {}


/*html not-front logged-in one-sidebar sidebar-first page-node page-node- page-node-1 node-type-page toolbar
*/
/*---- container: border, background -----*/
body {   }

#page-wrapper {background:  #fff;}
.not-front #page-wrapper { background:  #fff;  }


#page-wrapper { }
#page {}

#header { background:  #fff; }
#header-inner {}
.not-front #header {}

/*
#main {background: #e5f4f8;}
#main {background: url(../images/main_bg.png) repeat-x #e5f4f8;}
.not-front #main {background: url(../images/main_bg2.png) repeat-x #e5f4f8;}
/**/

.front #main {}

#main-inner {}

#bottom {}


#footer { background:  #fff; }

#main #content {}
#main #content-inner {}

#main #sidebar_first {}
#main #sidebar_first #sidebar_first-inner {}

#main #sidebar_second {}
#main #sidebar_second #sidebar_second-right {}


/************* end: PAGE LAYOUT ***********/



/******************************************/
/*                                        */
/*           GLOBAL CONTENT STYLE         */
/*                                        */
/******************************************/

/*---------------- global ----------------*/
body {/*color: #333; font: 11px Tahoma, Geneva, sans-serif;*/}
body {font-size: 100%;}
body {color: #000; font: 1em Tahoma, Geneva, sans-serif;}

pre, code {font-size: 1.1em; font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;}

/**
#page h1,
#page h2,
#page a,
#page p,
#page .views-field-body,
.js-tabs,
#footer h1,
#footer h2,
#footer a,
#footer .views-field-body,
#footer p {text-shadow: 0 0 1px #fff;}
/**/

/*---------------- headers ---------------*/
h1, h2, h3, h4 {color: #000; text-transform: uppercase; font-family: Tahoma, Geneva, sans-serif;}

h1 {margin: 0 0 0.5em; font-size: 21px; line-height: 1.3em; font-weight: normal}
h2 {margin: 0 0 0.667em; font-size: 18px; line-height: 1.3em; font-weight: normal}
h3 {margin: 0 0 0.769em 0; font-size: 18px; line-height: 1.3em; font-weight: normal;}
h4, 
h5, 
h6 {margin: 0.909em 0; font-size: 1.1em; line-height: 1.3em;}

/*
h1.title {padding: 0 0 3px; border-bottom: 1px dashed #fff; color: #fff; text-transform: uppercase; font: bold 48px Arial, Helvetica, sans-serif} 

*/
h1.title {} 

h1.title span {font-weight: normal;} 
/*
.page-taxonomy-term h1.title span,
.page-services h1.title span,
.page-portfolio h1.title span,
.node-type-portfolio h1.title span {padding: 0 45px 0 0; background: url(../images/big_arrow2.png) no-repeat 100% 18px;}  
*/

/* page title */
.page-title-wrapper {background-color: rgb(215, 237, 224); margin: 0 0 30px; border-bottom: 0px solid #ccc; display: none;}
.page-title-wrapper h1#page-title {margin: 0;}
.page-title-wrapper h1#page-title span {}

/*---------------- paragraf -------------*/
p {margin: 0 0 1em;}

/*----------------- links ---------------*/
/**/
li a.active,
a {  color: #000; text-decoration: underline}
li a.active:hover,
a:hover {color:#007f48;}
/**/
/*
li a.active,
a {color: #30b6e1; text-decoration: underline}
li a.active:hover,
a:hover {color: #000}
*/
/**/
/*li a.active-trail {color: #000}
*/
.block-menu-block a.active-trail {}
a.shop_online,
.menu a {color: #000}
a.shop_online:hover,
.menu a.active-trail,
.menu a.active:hover,
.menu a:hover,
.menu a.active {color: #ff3366}



/**/

a:link {}
a:visited {}
a:hover {}
a:focus {}
a:active {}

a.link-button {}

a .no_img {display: block; padding: 30px 30px 20px; color: #ccc; /*text-decoration: none;*/ text-align: center; text-transform: uppercase; font-size: 14px; }

/*----------------- lists ----------------*/
.field-content ul {padding: 0 0 10px 18px;}
.field-content li { padding: 0 0 0px; /*color: #555;*/ list-style: circle;}

.field-name-body {}

/*---------------- fieldset --------------*/
fieldset {margin: 0 0 30px; padding: 0; background: none; border-bottom: 0px dashed #aaa}
fieldset.collapsed {background: none;}

fieldset legend {padding: 0px 0 10px;}
fieldset legend a {color: #333; text-decoration: none}
fieldset legend a:hover {color: #666; text-decoration: none}

fieldset fieldset {background: #eee; border: 0px solid #eee}


/*----------------- forms ----------------*/
input.form-text {margin: 0; padding: 4px 10px; border: 1px solid #cecece; border-radius: 4px; box-shadow: inset 1px 2px 3px #e5e5e5; color: #8a8a8a; font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;}
input.form-text:focus {}

/* Animated throbber */
html.js input.form-autocomplete {/* padding: 1px 4px; font-size: 12px;*/ background-image: none;}
html.js input.throbbing {}


textarea {padding: 4px 8px;  border: 1px solid #cecece; border-radius: 4px; box-shadow: inset 0px 0px 1px 1px #d9d9d9; font-size: 13px;}
.form-textarea-wrapper textarea {}

input[type="checkbox"] {margin: 0px 3px 3px 4px;}
input[type="radio"] {margin: 0px 3px 0px 5px;}

input[type="submit"] {cursor: pointer}
input.form-submit {/*margin: 10px 10px 10px 0; padding: 4px 6px;*/ }

input[type=submit] {
	display: inline-block; padding: 3px 12px; font: bold 16px "Trebuchet MS", Arial, sans-serif;
/*
	border: 0;
	border-top: 1px solid #b0defe;

	border-radius: 8px;
	-moz-border-radius: 8px;
	text-shadow: 0 1px 1px #333;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#69b4fb', endColorstr='#467bb1');
	background: -webkit-gradient(linear, left top, left bottom, from(#69b4fb), to(#467bb1));
	background: -moz-linear-gradient(top,  #69b4fb,  #467bb1);
	background: -o-linear-gradient(top, #69b4fb, #467bb1);
/**/
}

input[type=submit]:hover {
/*
	background: #62acd8; text-decoration: none;
	border: 0;
	border-top: 1px solid #d8efff;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#83cbfd', endColorstr='#63acd8');
	background: -webkit-gradient(linear, left top, left bottom, from(#83cbfd), to(#63acd8));
	background: -moz-linear-gradient(top,  #83cbfd,  #63acd8);
	background: -o-linear-gradient(top, #83cbfd, #63acd8);
*/
}

/* form-item */
.form-item {margin:  0em 0 15px;}

.form-item > label {margin: 0 0 0px 5px; font-size: 12px; font-weight: bold;}
.form-item label.option {font-size: 13px; font-weight: normal;}
.form-item > .description {margin: 0 0 0 3px;}

.form-item > label {}
.form-item > .description {}


/*
input.form-text {background: #1a1a1a; border: 3px solid #373737; box-shadow: inset 0px 0px 3px #111;}
*/


/* required fields */
.form-required {color: #c50200;}

.form-item textarea.required,
.form-item input.form-text.required {}
.form-item textarea.error,
.form-item input.form-text.error {color: #333; border-color: #f6aba6;}


/*
#edit-save {margin: 10px 10px 10px 0;} 
#edit-preview {margin: 10px 10px 10px 0;} 
#edit-cancel {margin: 10px 10px 10px 0;}
#edit-delete {margin: 10px 10px 10px 0;}
*/

/*.views-exposed-form .views-exposed-widget .form-submit {margin-top: 1.1em; margin-left: 1em}*/

/* webform */
.webform-component-markup {margin: 0 0 30px;}
.webform-component-radios,
.webform-component-checkboxes {margin: 0 0 25px;}

/*----------------- messages ------------*/
div.messages {padding: 9px; margin: 1em 0; color: #fff; background: #9ab41f; border: 0px solid #ace;}
/*div.messages a {color: #fff;}
div.messages a:hover {color: #eee;}*/
div.warning {color: #840; background: #fe6; border-color: #ed5;}
div.error {color: #fff; background: #ff4343; border-color: #d52;}
div.status {color: #360; background: #cf8; border-color: #be7;}
div.help {margin: 0 0 10px; padding: 5px 8px; background: #fff; border: 1px solid #aaa; font-size: 10px;}


div.messages {border-radius: 6px;}


/*----------------- tables ---------------*/
table {width: 100%; margin: 0em 0px 1em; border-collapse: collapse;}

#content_main table{
	
	margin: auto;
}

thead {}
thead th {/*background: #fff;*/ border-bottom: 0px solid #bdd2d0;}
tbody {border: none;}

th {padding: 0.8em 0em; vertical-align: top}


tr.even, 
tr.odd  {background: none; border-bottom: 0;}
td.active {background: none}

body.drag {cursor: move;}
th.active img {display: inline;}
tr.drag {background-color: #fffff0;}
tr.drag-previous {background-color: #ffd;}
td.checkbox, th.checkbox {text-align: center;}
.content-multiple-drag {width: 30px}

table.tcontainer {color: inherit;}
table.tcontainer td {padding: 0 0.6em 0.4em 0; border: none}
table.tcontainer tbody {font-size: inherit} 

/* token table */
td.region {font-weight: bold}


/*----------------- pager -------------*/
.item-list .pager {padding: 10px 0 0;}
.item-list .pager li {display: inline-block; height: 24px; padding: 4px 0px 0; text-align: center; font: 14px Tahoma, Geneva, sans-serif;}
.item-list .pager li a {}
.item-list .pager li a:hover {}

.item-list .pager li.pager-current {width: 28px; color: #333; font-weight: bold;}
.item-list .pager li.pager-item {width: 28px;}

.item-list .pager li.pager-first,
.item-list .pager li.pager-previous,
.item-list .pager li.pager-next,
.item-list .pager li.pager-last {}

.item-list .pager li.pager-current {
	border-radius: 14px;
}




/*----------------- dev info -------------*/
.dev-timer {position: absolute; display: block; top: 30px; left: 10px; width: 400px; padding: 0px; border: 0px solid #fff; color: #fff; font: 10px Tahoma, Geneva, sans-serif}


/*------------------ js-tabs -------------*/
div.js-tabs-section {}

ul.js-tabs {margin: 0; padding: 0; list-style: none;}
ul.js-tabs li {display: inline-block; margin: 0 0 0 15px; color: #c50200; border-bottom: 1px dashed; line-height: 0.9em; cursor: pointer;}
ul.js-tabs li:hover {color: #000;}
ul.js-tabs li.current {color: #767676; border: none;}

.tab-box {display: none;}
.tab-box.visible {display: block;}



/******** end: GLOBAL CONTENT STYLE *******/


/*========================================*/
/*                  Blocks                */
/*========================================*/

.navbar{
	width: 50em;
    margin: auto;
	
}

.navbar .block-nice-menus .nice-menu {
	
	display: inline;
}
.navbar .block-nice-menus .nice-menu a{
	display: inline;
}


.block .block-title {margin: 0 0 10px; font-size: 18px; font-weight: normal;}

.block .content {}

/*------------ #block-user-login ---------*/
#block-user-login {}
#block-user-login .item-list ul li {margin: 0 0 0 5px; list-style: none;}

/*--------------- #top block -------------*/
#top {}
#top .block-menu-block {}
#top .block-menu-block .content{}

/*----------- #content-top block ---------*/
#content-top .block {}
#content-top .block {}
#content-top .block .block-inner {}
#content-top .block .block-inner .title {}

/*--------------- subscribe ------------*/
.block-simplenews {}
.block-simplenews .block-title {margin: 0 0 15px; color: #ff3366; font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.block-simplenews .content {}

.block-simplenews .form-item {display: inline-block;}

/*
.block-simplenews label {display: none;}
*/

.block-simplenews label.edit-mail {}

.block-simplenews input.form-text {}

.block-simplenews input[type=submit] {
	display: inline-block; padding: 3px 12px; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: normal;

	background: #a7a7a7;
	border: 1px solid #848484;

	box-shadow: 0px 1px 1px #dadada;

	border-radius: 4px;
	-moz-border-radius: 4px;
	text-shadow: 1px 1px 1px #686868;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5c5c5', endColorstr='#a2a2a2');
	background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#a2a2a2));
	background: -moz-linear-gradient(top,  #c5c5c5,  #a2a2a2);
	background: -o-linear-gradient(top, #c5c5c5, #a2a2a2);
}

.block-simplenews input[type=submit]:hover {
/**/
	background-color: #2a94df;
	border: 1px solid #1f79d6;
	box-shadow: 0px 1px 1px #7acaef;

	text-shadow: 1px 1px 1px #165292;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dbdeb', endColorstr='#185dcc');
	background: -webkit-gradient(linear, left top, left bottom, from(#3dbdeb), to(#185dcc));
	background: -moz-linear-gradient(top,  #3dbdeb,  #185dcc);
	background: -o-linear-gradient(top, #3dbdeb, #185dcc);
/**/
}

.block-simplenews #edit-unsubscribe {display: none;}
.block-simplenews #edit-subscribe {}

/*============== end: Blocks =============*/


/*========================================*/
/*                  Header                */
/*========================================*/

#header {}
#header-inner {}


#header #header-blocks {clear: both; /* Clear the logo */}

/* header regions */
#header .region {}
#header .region-header {/*position: absolute; top: 35px; right: 0; width: 40%;*/}


/*----------------- logo -----------------*/
#header #logo {top: 3px; left: 20px}

#header #name-and-slogan {position: absolute; top: 25px; left: 0px}
#header #name-and-slogan #site-name {margin: 0; padding: 0; font-size: 30px; font-weight: normal}
#header #name-and-slogan h1#site-name {margin: 0; padding: 0; font-weight: normal; line-height: 1em} 
#header #name-and-slogan div#site-name {line-height: 1em}
#header #name-and-slogan div#site-name strong {font-weight: normal}
#header #name-and-slogan #site-name a {text-decoration: none;}
#header #name-and-slogan #site-name a:hover {}

#header #name-and-slogan #site-slogan {color: #333; font-size: 10px;}


/*---------------- navbar ----------------*/
/*
#navbar {position: absolute; top: 100px; left: 0px; margin: 0px 0 0; padding: 0px;}
#navbar #main-menu {}

#navbar #main-menu ul.links {padding: 0 0px;}
#navbar #main-menu ul.links li {position: relative; float: left; margin: 0 15px 0px; padding: 0; list-style: none;}

#navbar #main-menu ul.links li a {}
#navbar #main-menu ul.links li a {position: relative; display: block; padding: 6px 10px; color: #333; text-align: center; text-decoration: none; text-transform: uppercase; font-size: 13px; font-weight: normal;}

#navbar #main-menu ul.links li a:hover,
#navbar #main-menu ul.links li.active-trail a,
#navbar #main-menu ul.links li.active a {background: #333; color: #fff;}

#navbar #main-menu ul.links li.active-trail a,
#navbar #main-menu ul.links li.active a {}

#navbar #main-menu ul.links li.first {margin-left: 0;}
#navbar #main-menu ul.links li.last {margin-right: 0; background: none}
/**/

/*-------------- nice-menu ---------------*/
ul.nice-menu-down {}
#header .block-nice-menus {top: 0px; width: 720px; margin: auto; padding: 0px;}

#header ul.nice-menu {padding: 0 0px; width: 10em;}
#header ul.nice-menu li {position: relative; margin: 0px; padding: 0; width: 10em; float: left; display: inline;}
#header ul.nice-menu a {position: relative; display: block; color: #0c0b0b; text-decoration: none; text-transform: uppercase; font: bold 1em "Trebuchet MS", Arial, Helvetica, sans-serif;}
/*#header ul.nice-menu a {border-radius: 16px;}*/

/* menuparent */
/**/
#header ul.nice-menu li > a {}
#header ul.nice-menu li li > a {}
#header ul.nice-menu li.menuparent > a {background: url(../images/arrow_down.png) no-repeat 11px 85%;}
#header ul.nice-menu li li.menuparent > a {}
/**/

/* 1 level */
#header ul.nice-menu > li {}
#header ul.nice-menu > li > a {height: 30px; padding: 10px 10px 0; font-size: 1em;}
#header ul.nice-menu > li.first {margin-left: 0;}
#header ul.nice-menu > li.last {margin-right: 0;}

/* 2+ level */
#header ul.nice-menu ul {background-color: inherit; box-shadow: 0px 2px 2px #aaa;}
#header ul.nice-menu ul a {padding: 7px 10px; font-size: 1em;}

/* hover, active */
#header ul.nice-menu li > a:hover,
#header ul.nice-menu li > a.active,
#header ul.nice-menu li.active-trail > a,
#header ul.nice-menu li.active > a {color: #007f48;}

/*---------------- contacts ------------*/
#header #block-block-5 {position: absolute; top: 8px; right: 20px; margin: 0;}

#header #block-block-5 p {margin: 0; text-align: right;}

#header #block-block-5 .phone {position: relative; padding: 0px 0 0; color: #0c0b0b; font-size: 16px;}
#header #block-block-5 .phone span {color: #999999;}
#header #block-block-5 .phone strong {}
#header #block-block-5 .info {color: #ff3366; font-size: 11px; }

/*------------------ search --------------*/
#header .block-search {position: absolute; right: 0px; top: 104px;}
#header .block-search .form-item {}
#header .block-search label {display: none;}
#header .block-search input.form-text {width: 285px; padding-right: 20px; background: url(../images/search_bg.png) no-repeat 96% 7px; }
#header .block-search input.form-submit {display: none; margin: 0 0 0 5px;}


/* debug */
/*#search-box {border: 1px dotted green}
#search-box input.form-text {border: 1px dotted black}
#search-box input.form-submit {border: 1px dotted blue}
/**/

/*=============== end: Header ============*/


/******************************************/
/*                                        */
/*             SIDEBAR CONTENT            */
/*                                        */
/******************************************/

.sidebar {position: relative}

.sidebar .more-link {text-align: left;}
.sidebar .more-link a {}
.sidebar .more-link a:hover {}

/*----------------- blocks ---------------*/
.sidebar .block {margin: 0 0 40px; padding: 0;}
.sidebar .block .block-title {}
.sidebar .block .content {}

/*------------------ menu ----------------*/
.sidebar .block-menu-block {}

.sidebar ul.menu {padding: 0;}
.sidebar ul.menu li {margin: 0 0 0 0em; padding: 0px; border-bottom: 1px solid #c3c8ca; list-style: none;}
.sidebar ul.menu li a {display: block; padding: 10px 0; text-transform: uppercase; text-decoration: none;}
.sidebar ul.menu li.first a {padding-top: 0;}
.sidebar ul.menu li.last {border: 0;}
.sidebar ul.menu li.last a {padding-bottom: 0;}
.sidebar ul.menu li a.active,
.sidebar ul.menu li a.active-trail {}

/*
.sidebar ul.menu li {margin: 0 0 0 0em; padding: 0.2em 0.2em 0.3em 12px; list-style: none;}
.sidebar ul.menu li.leaf {background: url(../images/point.png) 0 8px no-repeat;}
.sidebar ul.menu li.collapsed {background: url(../images/arrow_right.png) 0 8px no-repeat;}
.sidebar ul.menu li.expanded {background: url(../images/arrow_down.png) 0 8px no-repeat;}
*/

/* menuparent */
/*
#header ul.nice-menu li > a {border: 0; border-bottom: 2px solid #eee; padding-bottom: 4px;}
#header ul.nice-menu li li > a {border: 0; border-right: 2px solid #eee; padding-right: 8px;}
#header ul.nice-menu li.menuparent > a {border-bottom-color: #ccc;}
#header ul.nice-menu li li.menuparent > a {border-right-color: #ccc;}
/**/

/* 1 level */
.sidebar ul.menu > li {}
.sidebar ul.menu > li.first {}
.sidebar ul.menu > li.last {}

/* 2+ level */
.sidebar ul.menu ul {padding: 0 0 0 0.5em;}
.sidebar ul.menu ul a {font-size: 12px;}

/* hover, active */
.sidebar ul.menu li > a:hover,
.sidebar ul.menu li > a.active,
.sidebar ul.menu li.active-trail > a,
.sidebar ul.menu li.active > a {}


/*------------- recent comments ----------*/

/*********** end: SIDEBAR CONTENR *********/


/*========================================*/
/*                   Top                  */
/*========================================*/
/*=============== end: Top ===============*/

/*========================================*/
/*                Top Content             */
/*========================================*/
/*=========== end: Top Content ===========*/

/*========================================*/
/*              Content Bottom            */
/*========================================*/
/*=========== end: Content Bottom ========*/

/*========================================*/
/*                  Bottom                */
/*========================================*/
/*============== end: Bottom =============*/



/******************************************/
/*                                        */
/*             MAIN COLUMN CONTENT        */
/*                                        */
/******************************************/

/*========================================*/
/*          Gglobal Main Column Style     */
/*========================================*/

.link_edit_node {margin: 0 0 0 8px; font-size: 10px}
.link_edit_node a {color: #039000;}
.link_edit_node a:hover {color: #0f600e;}

#content-area ul li {}

.breadcrumb {margin: 0 0 30px; padding: 0; display: none;}

/*------------------ select --------------*/

#content-display-overview select.form-select {width: 160px}


/*----------------- headers --------------*/

/*----------------- messages -------------*/

/* -------------- form data --------------*/


/*==== end: Gglobal Main Column Style ====*/


/*========================================*/
/*                  Fields                */
/*========================================*/

/*--------------- imagecache -------------*/
img.imagecache {display: block; padding: 1px; background: #fff; border: 1px solid #bfbfbf}
img.imagecache-image_medium {margin: 0 0 5px}
img.imagecache-image_small {}

a:hover img.imagecache {border: 1px solid #e49500}

/*============== end: Fields =============*/




/******************************************/
/*                                        */
/*                  VIEWS                 */
/*                                        */
/******************************************/

/* attachment */
.view .attachment {}
.view .attachment-before {margin: 0 0 30px;}
.view .attachment .views-summary {display: inline-block; margin: 0 8px 10px 0; color: #999;}
.view .attachment .views-summary a {}


/*========================================*/
/*                  Blocks                */
/*========================================*/

/* bloks global */
/*
.block-views .view .view-content .title {margin-top: 0; font-size: 12px; font-weight: normal }
.block-views .view .view-content .field-image {float: left; margin: 0 10px 1px 0}
.block-views .view .view-content .field-created {margin: 0 0 5px; color: #eee; font-size: 0.9em;}
.block-views .view .view-content .field-teaser {}
.block-views .view .view-content .field-body {}
*/

/*============== end: Blocks =============*/


/*========================================*/
/*                   Pages                */
/*========================================*/

/*============== end: Pages ==============*/

.view {}
.view .view-conten {}
.view .view-conten .views-row {}

.views-view-grid.cols-3 td {width: 33.3%;}
.views-view-grid.cols-4 td {width: 25%;}
.views-view-grid.cols-5 td {width: 20%;}
.views-view-grid.cols-5 td {width: 16.6%;}


/*========================================*/
/*                  Slider                */
/*========================================*/

/*-------------- slider block ------------*/

/* block */
#block-views-slider-block-slider {margin: 0; height: 390px; background: url(../images/slider_bg.png) repeat-x; overflow: hidden;}
#block-views-slider-block-slider h2 {}
#block-views-slider-block-slider .content {}

.view-block-slider {}

.view-slider {position: relative;}
.view-slider .view-content {}

.view-slider .views_slideshow_main {}
.view-slider .views_slideshow_slide {}

/*- slider paginator -*/
.view-slider .views-slideshow-controls-bottom {padding: 10px 0 0; text-align: center;}

/* slider buttons */
.view-slider .views-slideshow-controls-text {}
.view-slider .views-slideshow-controls-text > span {}
.view-slider .views-slideshow-controls-text a {position: absolute; display: block; width: 124px; height: 125px; background: url(../images/slider_nav1.png) no-repeat; text-indent: -9999px; z-index: 100;}
.view-slider .views-slideshow-controls-text-next a {top: 130px; right: 70px; background-position: 0 0;}
.view-slider .views-slideshow-controls-text-next a:hover {background-position: 0 -125px;}
.view-slider .views-slideshow-controls-text-previous a {top: 130px; left: 70px;  background-position: 0 -250px;} 
.view-slider .views-slideshow-controls-text-previous a:hover {background-position: 0 -375px;}
.view-slider .views-slideshow-controls-text .views-slideshow-controls-text-pause {display: none;}

/* num */
.view-slider .views-slideshow-pager-field-item {display:inline-block; width: 10px; height: 10px; margin: 0 3px; padding: 0px 0px 0;  background: #ccc; color: #000; text-align: center; font: 14px Tahoma, Geneva, sans-serif; text-indent: -9999px;  cursor: pointer;}
.view-slider .views-slideshow-pager-field-item {border-radius: 10px;}
.view-slider .views-slideshow-pager-field-item.active,
.view-slider .views-slideshow-pager-field-item:hover {background: #333;}
.view-slider .views-slideshow-pager-field-item div {display:inline;}

/* images */
/*
.view-catalog .views-slideshow-pager-fields {position: relative; padding: 0px 0 0 4px;}
.view-catalog .views-slideshow-pager-field-item {position: relative; float: left; width: 70px; height: 76px; margin: 0 9px; padding: 12px 0 0 7px; overflow: hidden; cursor: pointer;}
.view-catalog .views-slideshow-pager-field-item img {border-radius: 32px;}
.view-catalog .views-slideshow-pager-field-item.active,
.view-catalog .views-slideshow-pager-field-item:hover {background: url(../images/slider_img_bg.png) no-repeat;}
*/

.view-slider .view-footer {padding: 0px 0 0;}

/*============== end: Slider =============*/


/*========================================*/
/*                 Catalog                */
/*========================================*/

.view-catalog {}

/*----------- view-page-catalog ----------*/
.view-page-catalog {}
.view-page-catalog .view-content {}

.view-page-catalog .views-row {}
.view-page-catalog .views-view-grid {}

.view-page-catalog .views-view-grid td {padding: 0 10px 40px 0;}

.view-page-catalog a {display: block; text-align: center; text-decoration: none;}
/*
.view-page-catalog a {color: #000;}
.view-page-catalog a:hover {color: #c50200;}
*/
.view-page-catalog a.item-link .item-image {display: block; height: 120px; padding: 0 0 5px; text-align: center;}
.view-page-catalog a.item-link .item-image img {}
.view-page-catalog a.item-link .item-title {text-decoration: underline;}
.view-page-catalog a.item-link .item-term {}

/* debug *
.view-page-catalog .views-view-grid td {outline: 1px dotted red;}
.view-page-catalog a {outline: 1px dotted green;}
.view-page-catalog a.node_link .node_image {outline: 1px dotted blue;}
.view-page-catalog a.node_link .node_image img {outline: 1px dotted #333;}
/**/

/*------------ catalog slider ------------*/
#block-views-catalog-block-catalog-slider {padding: 0px;}

.view-block-catalog-slider {}

/* big image container */
.view-catalog {position: relative;}
.view-catalog .views_slideshow_cycle_main {height: auto; padding: 0px 70px 0; }
.view-catalog .views-slideshow-cycle-main-frame {}

.view-catalog .views-slideshow-cycle-main-frame-row-item {position: relative; height: 200px; overflow: hidden;}

.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field {}
.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field-field-image {position: absolute; top: 0; left: 0; width: 250px; text-align: center;}
.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field-title {margin: 0 0 10px 320px; font-size: 30px;} 
.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field-title a {color: #000;}
.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field-title a:hover {color: #c50200;}
.view-catalog .views-slideshow-cycle-main-frame-row-item .views-field-body {margin-left: 320px;}

.view-catalog .views-slideshow-cycle-main-frame-row-item:hover .img_cover {display: none;}
.view-catalog .views-slideshow-cycle-main-frame-row-item .img_label {display: none; position: absolute; top: 0px; left: 0px; width: 130px; height: 106px; background: url(../images/best_work.png) no-repeat;}
/**/

/*- slider controls -*/
.view-catalog .views-slideshow-controls-bottom {}

/* slider buttons */
.view-catalog .views-slideshow-controls-text {}
.view-catalog .views-slideshow-controls-text > span {}
.view-catalog .views-slideshow-controls-text a {position: absolute; display: block; width: 26px; height: 36px; background: url(../images/slide_buttons.png) no-repeat; text-indent: -9999px; z-index: 100;}
.view-catalog .views-slideshow-controls-text-next a {top: 75px; right: 0px; background-position: 0 0;}
.view-catalog .views-slideshow-controls-text-next a:hover {background-position: 0 -72px;}
.view-catalog .views-slideshow-controls-text-previous a {top: 75px; left: 0px;  background-position: 0 -108px;} 
.view-catalog .views-slideshow-controls-text-previous a:hover {background-position: 0 -180px;}
.view-catalog .views-slideshow-controls-text .views-slideshow-controls-text-pause {display: none;}

/*- slider paginator -*/
/* images */
/*
.view-catalog .views-slideshow-pager-fields {position: relative; padding: 0px 0 0 4px;}
.view-catalog .views-slideshow-pager-field-item {position: relative; float: left; width: 70px; height: 76px; margin: 0 9px; padding: 12px 0 0 7px; overflow: hidden; cursor: pointer;}
.view-catalog .views-slideshow-pager-field-item img {border-radius: 32px;}
.view-catalog .views-slideshow-pager-field-item.active,
.view-catalog .views-slideshow-pager-field-item:hover {background: url(../images/slider_img_bg.png) no-repeat;}
*/
/* num */
.view-catalog .views-slideshow-controls-bottom {padding: 10px 0 0; text-align: center;}
.view-catalog .views-slideshow-pager-field-item {display: inline-block; width: 10px; height: 10px; margin: 0 3px; padding: 0px 0px 0;  background: #ccc; color: #000; text-align: center; text-indent: -9999px;  cursor: pointer;}
.view-catalog .views-slideshow-pager-field-item {border-radius: 10px;}
.view-catalog .views-slideshow-pager-field-item.active,
.view-catalog .views-slideshow-pager-field-item:hover {background: #333;}
.view-catalog .views-slideshow-pager-field-item div {display:inline;}

.views-field-field-image {}
.views-content-field-image {}
.views_slideshow_active_pager_field_item {}
/**/


/*============== end: Catalog ============*/


/*========================================*/
/*                Categories              */
/*========================================*/

/*-------- views-page-categories --------*/
.view-page-categories {position: relative;}
.view-page-categories .view-content {margin: 0 0px;}
/**
.view-page-categories table.views-view-grid td {width: 33%; padding: 0 40px 20px 0;}
.view-page-categories .views-field-field-term-image {margin: 0 0 10px; padding: 0 0 0 0px;}
.view-page-categories h2.views-field-name {margin: 0px 0 15px; text-transform: uppercase; font-size: 18px; font-weight: bold;}
.view-page-categories .views-field-field-term-body {padding: 0 0 0px}
.view-page-categories .views-field-more-link {}
/**/

/* row */
.view-page-categories .views-row {}

/* table */
.view-page-categories .views-view-grid {margin: 0;}
.view-page-categories .views-view-grid td {padding: 0 20px 30px 0;}

/* item */
.view-page-categories a {display: block; padding: 5px 3px 13px; text-align: center; text-decoration: none;}
.view-page-categories a .item-image {display: block; height: 85px; padding: 0 0 5px; overflow: hidden;}
.view-page-categories a .item-image img {}
.view-page-categories a .item-title {display: block; text-decoration: underline; font-size: 14px;}
.view-page-categories a:hover {border: 3px solid #eee; padding: 2px 0 10px; border-radius: 16px;}

/*- debug -*/
/*
.view-page-categories .views-view-grid td {outline: 1px dotted red;}
.view-page-categories a {outline: 1px dotted green;}
/**/

/*-------- views-block-categories --------*/
#block-views-categories-block-categories {margin: 0 0 40px; padding: 40px 0; border: 1px solid #ccc; border-left: 0; border-right: 0;}

.view-block-categories {position: relative;}
.view-block-categories .view-content {margin: 0 0px;}

/* row */
.view-block-categories .views-row {}

/* table */
.view-block-categories .views-view-grid {margin: 0;}
.view-block-categories .views-view-grid td {padding: 0;}

/* item */
.view-block-categories a {display: block; margin: 0 20px; padding: 5px 3px 13px; text-align: center; text-decoration: none;}
.view-block-categories a .item-image {display: block; height: 85px; padding: 0 0 5px; overflow: hidden;}
.view-block-categories a .item-image img {}
.view-block-categories a .item-title {display: block; text-decoration: underline; font-size: 14px;}
.view-block-categories a:hover {border: 3px solid #eee; padding: 2px 0 10px; border-radius: 16px;}

/*- debug -*/
/*
.view-block-categories .views-view-grid td {outline: 1px dotted red;}
.view-block-categories a {outline: 1px dotted green;}
/**/

/*-------- views-block-subcategories --------*/
#block-views-categories-block-subcategories {margin: 0 0 40px; padding: 0px 0; border: 0px solid #ccc; border-left: 0; border-right: 0;}

.view-block-subcategories {}

/* table */
.view-block-subcategories .views-view-grid {margin: 0;}
.view-block-subcategories .views-view-grid td {padding: 0 10px 10px 0;}

/* item */
.view-block-subcategories a {display: block; margin: 0 0px; padding: 8px 3px 13px; text-align: center; text-decoration: none}
.view-block-subcategories a .item-image {display: block; height: 120px; padding: 0 0 5px; text-align: center;}
.view-block-subcategories a .item-image img {}
.view-block-subcategories a .item-title {display: block; font-size: 14px; text-decoration: underline}
.view-block-subcategories a:hover {border: 3px solid #eee; padding: 5px 0px 10px; border-radius: 8px;}


/*--------- views-page-category --------*/
.view-page-category h2.views-field-name {margin: 0px 0 15px; font-size: 24px;}

/*--------- views-block-category --------*/
#block-views-categories-block-category {margin: 0;}

/* views bugs fix */
#block-views-categories-block-1 .views-row {line-height: 0;}
.view-display-id-attachment_1 .views-row {line-height: 0;}

/*- debug -*/
#block-views-portfolio-block-1 {outline: 0px solid red}
#block-views-portfolio-block-1 .view-content .views-row {outline: 0px solid green}
.view-categories .view-content .views-row {outline: 0px dotted green}
.portfolio-category-view .view-content {outline: 0px dotted red}
.portfolio-category-view .attachment {outline: 0px dotted blue}


/*============= end: Categories ==========*/


/*========================================*/
/*           Blog Categories View         */
/*========================================*/

.view-blog-categories {}

/*------------------ block ---------------*/
#block-views-blog-categories-block {margin: 0;}

.view-block-blog-categories {}
.view-block-blog-categories .views-row {float: left; width: 20%; text-align: center;}
.view-block-blog-categories .views-row a {/*display: block;*/}


/*======= end: Blog Categories View ======*/


/*========================================*/
/*              Services View             */
/*========================================*/

.view-services {}

.view-page-services {}

.view-page-services .views-row {float: left; width: 33%; margin: 0 0 20px;} 
.view-page-services .views-row a {display: block; position: relative; width: 185px; height: 185px; text-decoration: none;} 
.view-page-services .views-row a .item-image img {border-radius: 3px;} 
.view-page-services .views-row a .item-title {position: absolute; bottom: 0; left: 0; width: 165px; height: 2.0em; padding: 5px 10px; background: rgba(0, 0, 0, 0.7); border-radius: 0 0 3px 3px; color: #fff; text-transform: uppercase; text-align: right; vertical-align:bottom; font: bold 18px/1em "Trebuchet MS", Arial, Helvetica, sans-serif; overflow: hidden;} 

.view-page-services .views-row a:hover .item-title {background: rgba(0, 0, 0, 0.5);}

/*========== end: Services View ==========*/


/*========================================*/
/*             Companies View             */
/*========================================*/

#block-views-companies-block-companies {margin: 0 0 35px;}

.view-block-companies {}

.view-block-companies .view-header {margin: 0 0 10px}
.view-block-companies .view-header a.shop_online {display: inline-block; padding: 0 20px 2px 0; background: url(../images/shop_btn.png) no-repeat 100% 1px;  text-decoration: none; text-transform: uppercase; font-size: 18px;}
.view-block-companies .view-header a.shop_online:hover {background-position: 100% -25px;}
.view-block-companies .view-header a.shop_online span {text-decoration: underline;}


/*======= end: Blog Categories View ======*/


/*========================================*/
/*                 News View              */
/*========================================*/

.view-news {}
.view-news .views-row {overflow: hidden; margin: 0 0 10px;}

.view-news .views-field {}
.view-news .views-field-title {margin: 0 0 3px; font-size: 12px; font-weight: normal;}
.view-news .views-field-field-image {float: left; margin: 0 15px 2px 0}
.view-news .views-field-created {margin: 0 0 3px; color: #999; font-size: 0.9em;}
.view-news .views-field-body {}


/*---------------- news page -------------*/
.view-page-news {}
.view-page-news .views-row {margin: 0 0 0px;}


/*----------------- news block -----------*/
#block-views-news-block-news {}

.view-block-news {}

.view-block-news .views-row {margin: 0 0 20px;}

.view-block-news .views-field {}
.view-block-news .views-field-title {}
.view-block-news .views-field-field-image {}
.view-block-news .views-field-created {}
.view-block-news .views-field-body {}

/* footer news */
#footer #block-views-news-block-news {position: relative; margin: 20px 0 0;}
#footer #block-views-news-block-news .more-link {position: absolute; top: 10px; left: 130px;}

#footer .view-block-news .views-row {float: left; width: 32%; margin: 0 1% 5px 0;}

/*============ end: Views News ===========*/


/*========================================*/
/*                Blog Views              */
/*========================================*/

.view-blog {}

/*--------- blog block (last posts) ------*/
#block-views-blog-block-last-posts {}

.view-block-last-posts {}
.view-block-last-posts .views-row {margin: 0 0 15px;}

.view-block-last-posts .views-field-created {color: #999;}
.view-block-last-posts .views-field-title {margin: 0; font-size: 12px;}


/*============= end: Blog News ===========*/



/*========================================*/
/*               Reviews Views            */
/*========================================*/

.view-reviews .review-item {}

.view-reviews .review-item .review-text {padding: 0 0 20px; background: url(../images/rev.png) no-repeat 20px 100%; color: #666666;}
.view-reviews .review-item .review-text-inner {padding: 15px; background: #fff; border-radius: 4px; border: 1px solid #e7e7e7;}
.view-reviews .review-item .review-text-inner a {color: #666666; text-decoration: none;}
.view-reviews .review-item .review-text-inner a:hover {text-decoration: underline;}
.view-reviews .review-item .review-author {margin: -2px 0 0; padding: 0 18px; font-size: 0.9em; color: #666;}

.view-reviews .view-footer .add_review {text-transform: uppercase; font-size: 14px;}

/*------------- reviews page -------------*/
.view-page-reviews {}
.view-page-reviews .views-row {margin: 0 0 30px;}


/*------------ reviews slider ------------*/
#block-views-reviews-block-reviews-slider {padding: 0px;}
#block-views-reviews-block-reviews-slider .block-title {padding: 0 0 0 27px;}

.view-block-reviews-slider {}

.view-block-reviews-slider .view-footer {padding: 29px 0 0 27px;}

/* big image container */
.view-reviews {position: relative;}
.view-reviews .views_slideshow_cycle_main {height: auto; padding: 0px 27px 0; }
.view-reviews .views-slideshow-cycle-main-frame {}

.view-reviews .views-slideshow-cycle-main-frame-row {}
.view-reviews .views-slideshow-cycle-main-frame-row-item {}

.view-block-reviews-slider .review-text-inner {height: 50px;}

/*- slider controls -*/
.view-reviews .views-slideshow-controls-bottom {}

/* slider buttons */
.view-reviews .views-slideshow-controls-text {}
.view-reviews .views-slideshow-controls-text > span {}
.view-reviews .views-slideshow-controls-text a {position: absolute; display: block; width: 12px; height: 26px; background: url(../images/slider_nav2.png) no-repeat; text-indent: -9999px; z-index: 100;}
.view-reviews .views-slideshow-controls-text-next a {top: 30px; right: 0px; background-position: 0 0;}
.view-reviews .views-slideshow-controls-text-next a:hover {background-position: 0 -26px;}
.view-reviews .views-slideshow-controls-text-previous a {top: 30px; left: 0px;  background-position: 0 -52px;} 
.view-reviews .views-slideshow-controls-text-previous a:hover {background-position: 0 -78px;}
.view-reviews .views-slideshow-controls-text .views-slideshow-controls-text-pause {display: none;}

.views-field-field-image {}
.views-content-field-image {}
.views_slideshow_active_pager_field_item {}
/**/

/*=========== end: Reviews Views =========*/




/*========================================*/
/*              Comments Views            */
/*========================================*/

.view-comments {}
.view-comments .views-row {margin: 0 0 15px;}

.view-comments .submited {color: #999;}
.view-comments .submited .timestamp {}
.view-comments .submited .timestamp em {font-style: normal;}
.view-comments .subject {}
.view-comments .subject a {color: #000;}
.view-comments .subject a:hover {color: #ff3366;}

/*------------- comments block -----------*/
.block-views-comments-block-comments {}

/*========== end: Comments Views =========*/


/*========================================*/
/*               Filter form              */
/*========================================*/


/*-------------- filter form -------------*/

.views-exposed-form {}
.views-exposed-form .nojs {/*display: none*/}
.views-exposed-form .nojs .help-text {display: none}

.views-exposed-widgets {border: 0px dashed #aaa}

.views-exposed-widget {min-height: 40px; border: 0px dashed blue}

.views-exposed-form .views-exposed-widget { 
	float: none;
	padding: 0.5em 0 0 0;
	outline: 0px dotted red;
}

.views-exposed-form input.form-text {width: 200px}
.views-exposed-form select {width: 200px}

/*
.widget_number-1 {width: 45%}
.widget_number-2 {width: 45%}

.widget_number-3 {width: 32%}
.widget_number-4 {width: 32%}
.widget_number-5 {width: 30%}

.widget_number-7 {width: 30%}
.widget_number-8 {width: 30%}

.widget-button {width: 30%}
*/

.views-exposed-widget.widget-button {}

.label {}
.views-widget {}

/*=========== end: Filter form ===========*/


/**************** end: VIEWS **************/


/******************************************/
/*                                        */
/*                NODE EDIT               */
/*                                        */
/******************************************/

/*========================================*/
/*               Add/Edit  Node           */
/*========================================*/

.node-edit {}

.node-edit .form-item {}
.node-edit .form-item label {}
.node-edit .form-item input.form-text {/*width: 154px;*/ padding: 2px 3px}
.node-edit .form-item select.form-select {width: 300px;}
.node-edit .form-item span.field-suffix {}
.node-edit .form-item div.description {}

.node-edit .form-item input#edit-title {width: 95%; font-size: 18px}

.node-edit .link-field-url .form-item {margin: 0}

.node-edit .form-item input#edit-field-book-link-0-url {width: 292px}
.node-edit .form-item input#edit-field-isbn-0-value {width: 292px}
.node-edit .form-item input#edit-field-book-author-value {width: 300px}

/*.node-parts-edit .parts_wrapper {padding: 10px; background: #c8d9de}
*/
.node-edit .container {overflow: hidden; padding: 0 5px;}
.node-edit .container .col1 {float: left; width: 45%}
.node-edit .container .col2 {float: right; width: 50%}

.node-edit fieldset {}
.node-edit fieldset.group-totals legend {display: none}

/*======= end: Add/Edit Parts Page =======*/


/************** end: NODE EDIT ************/


/******************************************/
/*                                        */
/*                NODE VIEW               */
/*                                        */
/******************************************/

body.page-node {}
.node {}

.node .submitted { margin: 0 0 10px; color: #999; }

.node-unpublished {background: none;}

/*-------------- node link -------------*/
.node .link-wrapper {margin: 5px 0;}
.node .link-wrapper ul.links.inline {}
.node .link-wrapper ul.links.inline li {margin: 0; padding: 0 8px 0 5px; border-right: 1px solid #ff495a;}
.node .link-wrapper ul.links.inline li.first {padding-left: 0;}
.node .link-wrapper ul.links.inline li.last {border: 0;}

/* comment link */
.node ul.links li.comment-comments a {padding: 0 0 0 21px; background: url(../images/comments.png) no-repeat 0 2px;}


/*------------ node teaser ------------*/
.node-teaser {position: relative; margin: 0 0 40px;}

.node-teaser > h2 {margin: 0 0 10px; padding: 0 160px 0 0;}
.node-teaser .submitted {position: absolute; top: 5px; right: 0px}

.node-teaser .field {}
.node-teaser .field .field-label {font-weight: normal;}

.field {}
.field-items {}
.field-item {}
.field-name-field-images {}



/*========================================*/
/*                 Blog Node              */
/*========================================*/
.node-blog {}
.node-blog .field-name-field-blog-categories {margin: 0 0 7px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}

.node-blog .field-name-field-images .field-item {margin: 0 0 5px}

/*============ end: Blog Node ============*/


/*========================================*/
/*               Review Node              */
/*========================================*/
.node-review {}

.node-review .review-item .review-text {padding: 0 0 20px; background: url(../images/rev.png) no-repeat 20px 100%; color: #666666;}
.node-review .review-item .review-text-inner {padding: 15px; background: #fff; border-radius: 4px; border: 1px solid #e7e7e7;}
.node-review .review-item .review-text-inner a {color: #666666; text-decoration: none;}
.node-review .review-item .review-text-inner a:hover {text-decoration: underline;}
.node-review .review-item .review-author {margin: -2px 0 0; padding: 0 18px; font-size: 0.9em; color: #666;}

.node-review .field-name-field-city {padding: 10px 0 10px;}

/*============ end: Blog Node ============*/


/*========================================*/
/*                 News Node              */
/*========================================*/

/*============ end: News Node ============*/


/*========================================*/
/*               Article Node             */
/*========================================*/

body.node-type-article {}

.node-article {}

.node-article .submitted {font-size: 12px;}

.node-article .content {}
.node-article .content .field {}
.node-article .content .field-name-field-image {float: left; margin: 0 20px 10px 0;}
.node-article .content .field-name-body {}
.node-article .content .field-name-field-tags {}

.node-article ul.links {padding: 0;}
.node-article ul.links li {display: inline; margin: 0 1em 0 0; padding: 0;}

/*========== end: Article Node ===========*/


/*========================================*/
/*            Service Node View           */
/*========================================*/

body.node-type-service {}

.node-service {}

.node-article .submitted {font-size: 12px;}

.node-service .content {}
.node-service .content .field {}
/**/
.node-service .content .field-name-field-image {float: left; margin: 0 20px 10px 0;}
.node-service .content .field-name-field-image img {border: 1px solid #777;}
/**/
.node-service .content .field-name-body {}
.node-service .content .field-name-body ul {margin: 0 0 0 0px; padding: 0 0 0.5em 0; list-style: inside;}

/* content decoration */
.node-service .content .field-name-body .info-block {display: inline-block; width: 400px; margin: 0 0 15px; padding: 8px 12px; background: #fff; border: 1px solid #eee; border-radius: 6px; color: #555;}
/*
.node-service .content .field-name-body .block-1 {background: #fff; border: 0px solid #eee;}
.node-service .content .field-name-body .block-2 {background: #dbe8ec; border: 0px solid #eee;}
.node-service .content .field-name-body .block-2 {background: #dbe8ec; border: 0px solid #eee;}
.node-service .content .field-name-body .block-2 {background: #e8dbe1;}
.node-service .content .field-name-body .block-2 {background: #cef1df;}
*/
.node-service .content .field-name-body .info-block strong {display: block; margin: 0 0 5px; text-transform: uppercase; font-size: 14px; font-weight: 600;}


/*======= end: Service Node View =========*/


/*========================================*/
/*               Catalog Node             */
/*========================================*/

body.node-type-catalog {}
div.node-catalog {}

/* portfolio content */
.node-catalog .field-name-field-image {float: left; margin: 0 50px 10px 0;}
.node-catalog .field-name-body {}

/*========== end: Portfolio Node =========*/


/************* end: NODE VIEW *************/


/*========================================*/
/*                 Comments               */
/*========================================*/

#comments {padding: 0 0 10px}
#comments .title {padding: 0 0px 10px;}

#comments .indented {margin-left: 15px; padding-left: 10px; border-left: 0px dotted #fff}
/*#comments .indented:hover {padding-left: 9px; border-left: 1px dotted #fff}*/

/*---------------- comment ---------------*/

.comment {position: relative; margin: 0 0 14px; padding: 0px 2px 14px; background: none; border-bottom: 1px solid #bfc6c9;}
.comment:first-child {border-top: 1px solid #bfc6c9;}

.comment.comment-new {}
.comment.comment-by-node-author {}
.comment.comment-by-viewer{}

/* attribution */
.comment .attribution {}
.comment .attribution .user-picture {float: left; margin: 0 10px 5px 0;}
.comment .attribution .user-picture a img {}
.comment .attribution .submitted {margin: 0 0 5px; color: #777; font-size: 0.9em;}
.comment .attribution .submitted .commenter-name {}
.comment .attribution .submitted .comment-time {}
.comment .attribution .submitted .comment-permalink {}

.comment .new {position: absolute; top: 7px; right: 10px; color: #B50303}

/* comment-text */
.comment-text {}
.comment-text p {margin: 0 0 5px;}

/* comment links */
.comment ul.links {}
.comment ul.links li {font-size: 0.9em;}
.comment ul.links li.comment-delete {}
.comment ul.links li.comment-delete a {color: #F44;}
.comment ul.links li.comment-delete a:hover {color: #B50303;}
.comment ul.links li.comment-edit {}
.comment ul.links li.comment-edit a {color: #039000;}
.comment ul.links li.comment-edit a:hover {color: #0F600E;}
.comment ul.links li.comment-reply {}


/*-------------- comment-form -------------*/
#comments h2.comment-form {padding: 20px 0 0;}

/* debug */
/*#comments .indented {border: 0px dotted red}
.comment {border: 0px dotted blue}
/**/

/*============= end: Comments ============*/



/*========================================*/
/*                   Forum                */
/*========================================*/

#forum {}

#forum ul.links {padding: 0 0 20px}
#forum ul.links li {padding: 0 1em 0 0}
/*
#forum ul.links li a {display: inline-block; margin: 0; padding: 5px 12px 5px; background: #a9c3cc; border: 1px solid #c8d9de; color: #444444; text-decoration: none;}
#forum ul.links li a:hover {background: #e4edef;}
*/
#forum ul.links li a {display: inline-block; height: 22px; margin: 0 0 0px; padding: 4px 12px 0; background: url(../images/user_bg2.png) repeat-x; border: 1px solid #c8d9de; color: #12343c; text-decoration: none; text-align: center}
#forum ul.links li a:hover {color: #1e6c16}

#forum ul.links li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#forum table {}
#forum table tbody {}

#forum .description {margin: 0; color: #777; font-size: 0.9em;}

#forum table tr td.container {padding: 1em 1em; background: #fff}
#forum table tr td.container .name {font-weight: bold; font-size: 1.1em}
#forum table tr td.container .description {}

/*-------------- forums page ------------*/
#forum table tr td.forum {padding-left: 50px; background-position: 20px 2px; background-repeat: no-repeat;}
#forum table tr td.forum .indent {margin: 0}

#forum table tr td.topics {}
#forum table tr td.posts {}
#forum table tr td.last-reply {}

/*------------- topics page -------------*/
#forum table tr td.icon {width: 10px}
#forum table tr td.title {}
#forum table tr td.replies {width: 40px}
#forum table tr td.created {width: 120px}
#forum table tr td.last-reply {width: 120px}

/*--------------- view topic ------------*/

.node-type-forum {}

/*- forum topic navigation -*/
.forum-topic-navigation {padding: 0.5em; border: 1px solid #fff; border-left: 0; border-right: 0; text-align: center}

/*- add coment link -*/
div.node-type-forum ul.links {margin: 0; padding: 1em 0;}
div.node-type-forum ul.links li.comment_add {display: block; margin: 0; padding: 15px 0 5px;}

 

/*============== end: Forum ==============*/


/*========================================*/
/*                   Users                */
/*========================================*/

/*-------------- user profile ------------*/
.profile {}

/*=============== end: Users =============*/



/*========================================*/
/*                  Bottom                */
/*========================================*/
#bottom {}
#bottom h2 {margin-top: 0;}

/*
#bottom .block {float: left; width: 50%;}
#bottom .block .block-title {}
#bottom .block .content {}

/* about us */

#bottom .block {float: left; width: 40%;}
#bottom #block-block-8 {}
#bottom #block-block-8 .block-title {margin: 0 0 20px;}
#bottom #block-block-8 .content {padding: 0 30px 0 0}

#bottom #block-simplenews-87 {}
#bottom #block-views-reviews-block-reviews-slider {float: right; width: 60%;}
#bottom #block-views-reviews-block-reviews-slider .block-title {margin: 0 0 20px;}

/* news */
/*#bottom #block-views-news-block-news {width: 34%;}


/*--------------- subscribe ------------*/
#bottom .block-simplenews {}
#bottom .block-simplenews .block-title {margin: 0 0 15px; color: #ff3366; font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#bottom .block-simplenews .content {}
#bottom .block-simplenews .form-item-mail label {display: none;}


/*============= end: Bottom ==============*/


/*========================================*/
/*                 Footer                 */
/*========================================*/
#footer {font-size: 12px; color: #999;}
#footer-inner {position: relative}

/* regions */
#footer .region {position: relative;}
#footer .region-footer-content {}
#footer .region-footer {}

#footer a {color: #999;}
#footer a:hover {color: #777;}

#footer p {}

/*---------------- footer menu -----------*/
#footer .block-menu-block {position: absolute; top: 15px; left: 0; padding: 0px 0 0px;}

#footer .block-menu-block ul.menu {margin: 0; padding: 0;}
#footer .block-menu-block ul.menu li {display: inline-block; margin: 0 15px 0 0; padding: 0; list-style: none;}

#footer .block-menu-block ul.menu li a {color: #000; text-decoration: none; text-transform: uppercase; font-size: 12px;}
#footer .block-menu-block ul.menu li a:hover,
#footer .block-menu-block ul.menu li.active-trail a,
#footer .block-menu-block ul.menu li.active a {color: #c50200;}

#footer .block-menu-block ul.menu li.first {}
#footer .block-menu-block ul.menu li.last {border: none}

/*
#footer .block-menu-block {border: 1px dotted blue}
#footer .block-menu-block ul.menu {border: 1px dotted red}
#footer .block-menu-block ul.menu li {outline: 0px dotted red}
#footer .block-menu-block ul.menu li a {outline: 0px dotted green}
*/

/*------------------ search --------------*/
#footer .block-search {position: absolute; left: 0px; top: 25px;}
#footer .block-search .form-item {}
#footer .block-search label {display: none;}
#footer .block-search input.form-text {padding: 4px 6px 3px;}
#footer .block-search input[type=submit] { vertical-align: top; width: 30px; height: 28px; margin: 0 0 0 5px; padding: 0px; background: url(../images/search_btn.png) no-repeat 0 -28px; border: 0;}
#footer .block-search input[type=submit]:hover {background-position: 0 0px;}

/*
#footer .block-search input[type=submit] {
	display: inline-block; padding: 3px 12px; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: normal;
	background: #a7a7a7;
	border: 1px solid #848484;

	box-shadow: 0px 1px 1px #dadada;

	border-radius: 4px;
	-moz-border-radius: 4px;
	text-shadow: 1px 1px 1px #686868;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5c5c5', endColorstr='#a2a2a2');
	background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#a2a2a2));
	background: -moz-linear-gradient(top,  #c5c5c5,  #a2a2a2);
	background: -o-linear-gradient(top, #c5c5c5, #a2a2a2);

	text-indent: -9999px;
	background: url(../images/search_btn.png) no-repeat 50% 50% #a7a7a7;


}

#footer .block-search input[type=submit]:hover {
	background-color: #2a94df;
	border: 1px solid #1f79d6;
	box-shadow: 0px 1px 1px #7acaef;

	text-shadow: 1px 1px 1px #165292;

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dbdeb', endColorstr='#185dcc');
	background: -webkit-gradient(linear, left top, left bottom, from(#3dbdeb), to(#185dcc));
	background: -moz-linear-gradient(top,  #3dbdeb,  #185dcc);
	background: -o-linear-gradient(top, #3dbdeb, #185dcc);
}
*/

/*---------------- copyrights ------------*/
#footer #block-block-3 {position: absolute; top: 30px; left: 45%; width: 200px;}

/*---------------- developer ------------*/
#footer #block-block-7 {position: absolute; top: 30px; right: 0;}

/*---------------- contacts ------------*/
#footer #block-block-5 {position: absolute; top: 20px; right: 0;}
#footer #block-block-5 strong {display: block; margin: 0 0 5px;}
#footer #block-block-5 small {font: normal 13px Arial, Helvetica, sans-serif; }

/*--------------- soc links ------------*/
#footer #block-block-6 {position: absolute; top: 26px; right: 0px; border: 0px solid #282828; border-bottom:0; border-top: 0;}
#footer #block-block-6 .content {padding: 0px 0px;}
#footer #block-block-6 .content ul li {display: block; float: left; margin: 0 5px 0;  }
#footer #block-block-6 .content ul li a {display: block; text-indent: -9999px; text-decoration: none;}
#footer #block-block-6 .content ul li a:hover {text-decoration: none;}

a.rss_link {width: 24px; height: 24px; background: url(../images/rss.png) no-repeat;}
a.twitter_link {width: 24px; height: 24px; background: url(../images/t.png) no-repeat;}
a.facebook_link {width: 24px; height: 24px; background: url(../images/f.png) no-repeat;}


/*---------------- devolpment ------------*/


/*---------------- copyright -------------*/
#footer #footer-message {text-align: center}
#footer #footer-message p {margin: 0}
#footer .copyright {}
#footer .developer {position: absolute; right: 30px; top: 55px;}
#footer .developer a {display: block; height: 35px; padding:  10px 70px 0 0;  background: url(../images/ralf.png) no-repeat 100% 0}
#footer .developer a span {display: none;}

/* debug */
/*
#footer .by {border: 0px dotted red}
#footer #footer-message {border: 0px dotted red}
/**/

/*============= end: Footer ==============*/

/************ end: CONTENT STYLE **********/




/******************************************/
/*                                        */
/*              CUSTOM PAGES              */
/*                                        */
/******************************************/

.page-pricelist {}
.page-pricelist table {width: 100%; margin: 0 0 30px;}
.page-pricelist table td {padding: 0 0 2px;}

.page-pricelist table td strong {display: block; padding: 2px 0; background: none;  border-bottom: 1px solid #d2e2e6; color: #ff3366}

/*
.page-pricelist table td strong {display: block; padding: 2px 6px; background: #63b7cf;  border-bottom: 0px solid #d2e2e6; color: #fff;}
*/

.page-pricelist table .col1 {width: 32%}
.page-pricelist table .col2 {width: 35%}
.page-pricelist table .col3 {}


/************ end: CUSTOM PAGES ***********/





/******************************************/
/*                                        */
/*              Products	              */
/*                                        */
/******************************************/
.view-products {
	text-align: left;
}

.view-products .views-field-field-amazon-asin{
	width: 160px;
	display: inline-flex;
	float: left;
	margin: auto;
	padding-right: 1em;
	padding-top: .5em;
	font-size: 1em;
}


.view-products .field-name-field-amazon-asin {
	border: none;
	
}
.view-products .views-field-field-amazon-asin .field-name-field-amazon-asin{
	width: 160px;
	text-align: center;
}

.view-products .views-field-title{
	float:left;
	display: inline-flex;
	font-size: 1em;
	padding-top: .5em;
	width: 540px;
}

.view-products .views-field-field-price{
	display: inline-flex;
	font-size: 1em;
	width: 540px;
	padding-top: .5em;
	float:left;

	padding-bottom: .5em;
	
}

.view-products .field-type-text-with-summary{
	width: 540px;
	display: inline-flex;
	
}

.view-products .views-row {
	height: 180px;
	border-top: solid #aaa 1px;
	width: 720px;
	font-size: 1em;
}
.view-products p{
	font-size: 0.8em;
}
.columns-wrapper{
	width: 960px;
	margin: auto;
}
.columns-wrapper #right-column, .columns-wrapper #item-details{
	height: 660px;
	width: 46.5%;
}

.view-filters{
display:none;	
}
