/*-------------------------------------------------------
* Filename:         css3.css
* Description:      Css 3 rules
* Version:          1.0.1 (16.09.2010)
* Author:           Andrey Zverev
* E-mail:           sitecor@gmail.com

== RULES: ===========================================

border-radius: 0 4px 4px 4px;
-moz-border-radius: 0 4px 4px 4px;
-webkit-border-radius: 0 4px 4px 4px;

-webkit-box-shadow: 0 0 25px #aaa;
-moz-box-shadow: 0 0 25px #aaa;
box-shadow: 0px 0px 10px #aaa;

text-shadow: 0 0 1px #fff;

filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e0e0e0'); /* for IE 
background: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#e0e0e0)); /* for webkit browsers 
background: -moz-linear-gradient(top,  #bdbdbd,  #e0e0e0); /* for firefox 3.6+ 
background: -o-linear-gradient(top, #bdbdbd, #e0e0e0); /* for opera 11.1+ 


--------------------------------------------------------*/

/*
a.term_link img,
a.imagefield img {
-webkit-box-shadow: 0 0 5px #eee;
-moz-box-shadow: 0 0 5px #333;
box-shadow: 0px 0px 5px #eee;
}



/*---------------- main menu -------------*/
/*#header .menu ul li a {
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
}*/

/*----------- module, group -------------*/
/*.group .group-header h1.title,
.group .group-header h2.title,
.sidebar .module .module-header h3 {
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
}*/
/*
.group .group-content,
.sidebar .module .module-content {
	border-radius: 0 4px 4px 4px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
*/












