/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {margin: 0; padding: 0; list-style: none;}

ul.nice-menu li {float: left;}
ul.nice-menu a {}

ul.nice-menu ul {/*top: 1.8em;*/ /*left: -1px; margin-right: 0;*/}
ul.nice-menu ul li {width: 12.5em;}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {top: -1px; width: 10em; left: 10em;}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: url(arrow-right.png) right center no-repeat; background-color: inherit;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {float: left;}

ul.nice-menu-down li {}
ul.nice-menu-down li li {}

ul.nice-menu-down ul {left: 0;}
ul.nice-menu-down ul li {clear: both;}
ul.nice-menu-down li ul li ul {left: 12.5em;  top: -1px;}

/**
ul.nice-menu-down .menuparent a {padding-right: 15px;}

ul.nice-menu-down li.menuparent {background: #eee url(arrow-down.png) right center no-repeat;}
ul.nice-menu-down li.menuparent:hover {background: #ccc url(arrow-down.png) right center no-repeat;}
ul.nice-menu-down li li.menuparent {background: #eee url(arrow-right.png) right center no-repeat;}
ul.nice-menu-down li li.menuparent:hover {background: #ccc url(arrow-right.png) right center no-repeat;}
/**/
